In [2]:
# Importing the libraries
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [6]:
movies=pd.read_csv('ml-1m/movies.dat', sep="::", header=None, engine='python', encoding='latin-1')

In [8]:
users=pd.read_csv('ml-1m/users.dat', sep="::", header=None, engine='python', encoding='latin-1')

In [9]:
ratings=pd.read_csv('ml-1m/ratings.dat', sep="::", header=None, engine='python', encoding='latin-1')

In [10]:
ratings

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
5           1  1197  3  978302268
6           1  1287  5  978302039
7           1  2804  5  978300719
8           1   594  4  978302268
9           1   919  4  978301368
10          1   595  5  978824268
11          1   938  4  978301752
12          1  2398  4  978302281
13          1  2918  4  978302124
14          1  1035  5  978301753
15          1  2791  4  978302188
16          1  2687  3  978824268
17          1  2018  4  978301777
18          1  3105  5  978301713
19          1  2797  4  978302039
20          1  2321  3  978302205
21          1   720  3  978300760
22          1  1270  5  978300055
23          1   527  5  978824195
24          1  2340  3  978300103
25          1    48  5  978824351
26          1  1097  4  978301953
27          1  1721  4  978300055
28          1  1545  4  978824139
29          1   745  3  978824268
...       ...   ... ..        ...
1000179  6040  2762  4  956704584
1000180  6040  1036  3  956715455
1000181  6040   508  4  956704972
1000182  6040  1041  4  957717678
1000183  6040  3735  4  960971654
1000184  6040  2791  4  956715569
1000185  6040  2794  1  956716438
1000186  6040   527  5  956704219
1000187  6040  2003  1  956716294
1000188  6040   535  4  964828734
1000189  6040  2010  5  957716795
1000190  6040  2011  4  956716113
1000191  6040  3751  4  964828782
1000192  6040  2019  5  956703977
1000193  6040   541  4  956715288
1000194  6040  1077  5  964828799
1000195  6040  1079  2  956715648
1000196  6040   549  4  956704746
1000197  6040  2020  3  956715288
1000198  6040  2021  3  956716374
1000199  6040  2022  5  956716207
1000200  6040  2028  5  956704519
1000201  6040  1080  4  957717322
1000202  6040  1089  4  956704996
1000203  6040  1090  3  956715518
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

In [11]:
training_dataset=pd.read_csv('ml-100k/u1.base', delimiter='\t')

In [12]:
training_dataset

         1   1.1  5  874965758
0        1     2  3  876893171
1        1     3  4  878542960
2        1     4  3  876893119
3        1     5  3  889751712
4        1     7  4  875071561
5        1     8  1  875072484
6        1     9  5  878543541
7        1    11  2  875072262
8        1    13  5  875071805
9        1    15  5  875071608
10       1    16  5  878543541
11       1    18  4  887432020
12       1    19  5  875071515
13       1    21  1  878542772
14       1    22  4  875072404
15       1    25  4  875071805
16       1    26  3  875072442
17       1    28  4  875072173
18       1    29  1  878542869
19       1    30  3  878542515
20       1    32  5  888732909
21       1    34  2  878542869
22       1    35  1  878542420
23       1    37  2  878543030
24       1    38  3  878543075
25       1    40  3  876893230
26       1    41  2  876892818
27       1    42  5  876892425
28       1    43  4  878542869
29       1    45  5  875241687
...    ...   ... ..        ...
79969  943   720  1  888640048
79970  943   721  5  888639660
79971  943   722  3  888640208
79972  943   724  1  888639478
79973  943   732  4  888639789
79974  943   739  4  888639929
79975  943   756  2  875502146
79976  943   763  4  875501813
79977  943   765  3  888640227
79978  943   785  2  888640088
79979  943   794  3  888640143
79980  943   796  3  888640311
79981  943   808  4  888639868
79982  943   816  4  888640186
79983  943   824  4  875502483
79984  943   825  3  875502283
79985  943   831  2  875502283
79986  943   840  4  888693104
79987  943   928  5  875502074
79988  943   941  1  888639725
79989  943   943  5  888639614
79990  943  1011  2  875502560
79991  943  1028  2  875502096
79992  943  1044  3  888639903
79993  943  1047  2  875502146
79994  943  1067  2  875501756
79995  943  1074  4  888640250
79996  943  1188  3  888640250
79997  943  1228  3  888640275
79998  943  1330  3  888692465

[79999 rows x 4 columns]

In [14]:
training_dataset=np.array(training_dataset, dtype=int)

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [15]:
test_dataset=pd.read_csv('ml-100k/u1.test', delimiter='\t')
test_dataset=np.array(test_dataset, dtype=int)

In [17]:
test_dataset.shape

(19999, 4)